<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head_bootstrap">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header  th:replace="template :: header">

</header>

<div class="container mt-5">

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/access-denied-8-692920.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Access Denied!</h5>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam consequuntur deserunt error, ex facere laborum libero maxime mollitia non odio porro, quas quod sequi sit tempora temporibus veniam voluptas.</p>


                    <a href="/" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="template :: footer">

</div>
</body>
</html>