
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head_bootstrap">
  <meta charset="UTF-8">
  <title>Book a car</title>
  <!-- Jquery Library -->



</head>

<body>

<header  th:replace="template :: header">

</header>
<div class="container">
  <h2>Book a Car Service</h2>
  <form action="#" th:action="@{/user/dobookservice}" method="post">
    <div class="form-group">
      <label>Client ID:</label>
      <input type="text" th:name="idClients" th:value="${user.getIdClients()}" readonly="readonly" /> <!--To keep idClient logged-->
    </div>
    <div class="form-group">
      <label for="registrationNumber">Registration Number:</label>
      <select id="registrationNumber" th:name="registrationNumber" required>
        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.getRegistrationNumber()}" th:text="${vehicle.registrationNumber + ' ' +vehicle.model}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="day">Day:</label>
      <input type="date" id="day" th:name="day" required />
    </div>
    <div class="form-group">
      <label for="time">Time:</label>
      <select id="time" th:name="time" required>
      <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"></option>
    </select>
    </div>
    <div class="form-group">
      <label for="service">Service:</label>
      <select id="service" th:name="service" required>
        <th:block th:each="service : ${serviceTypes}">
          <option th:value="${service.getIdServiceType()}" th:text="${service.getName()}"></option>

        </th:block>
      </select>
    </div>
    <div class="form-group">
      <label for="extraNotes">Write something you want to tell us...</label>
      <textarea class="form-control" id="extraNotes" th:name="extraNotes" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

<div th:replace="template :: footer">

</div>

<!-- To not allow sundays to be selected -->
<script>
  $(function(){
    $('#day').on('change', function(){
      let day = new Date($(this).val()).getDay();
      console.log(day);
      // If sunday (6), clean date field and show error
      if(day === 6){
        $(this).val('');
        alert('Sorry, the garage is close on Sundays!');
      }
    });
  });
</script>
</body>
</html>