<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <title>Ger's Garage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="p-5 bg-primary text-white text-center">
    <h1>Ger's garage</h1>
    <p>The best place to repair your car!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h2>About Us</h2>
            <img src="https://d1gymyavdvyjgt.cloudfront.net/drive/images/uploads/headers/ws_cropper/1_0x0_790x520_0x520_car-service-checklist.jpg" alt="mech1" class="img-thumbnail">
            <p>Car Problems? Whatever the fault, our qualified technicians can repair it. No job too big or too small. </p>

            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Services</h2>
            <h5>Annual Service</h5>
            <img src="https://cdn.wearemarmalade.co.uk/wam/2020-12/car-service.jpg" alt="mech2" class="img-thumbnail">
            <p>A full car service is ideal for an annual maintenance programme for your car and recommended every 20,000 kilometres or 12 months.
            </p>

            <h5>Major Service</h5>
            <img src="https://d1gymyavdvyjgt.cloudfront.net/drive/images/uploads/headers/ws_cropper/1_0x0_790x520_0x520_seven-signs-header.jpg" alt="mech3" class="img-thumbnail">
            <p>The Major Service is our most comprehensive car service product, and covers parts that are regularly recommended for replacement every two years such as your brake fluid and cabin filter.
            </p>

            <h5>Repair / Fault</h5>
            <img src="https://www.ymfcarparts.co.uk/images/blog/full-car-service.jpg" alt="mech4" class="img-thumbnail">
            <p> We don’t get service cars, we also repair them. Using our expertise, you can book in a vehicle repair & diagnostic appointment online.
            </p>

            <h5>Major Repair</h5>
            <img src="https://media.sciencephoto.com/image/f0331238/800wm" alt="mech5" class="img-thumbnail">
            <p>It is more than just a matter of getting one or more items replaced or fixed when you own a car. Regardless of the make and model of your vehicle, repairs can be quite expensive...
            </p>

        </div>
    </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
        <a class="navbar-brand">Ger's Garage® </a>
        <a class="navbar-brand text-left">Created by Karen Flores</a>
</div>

</body>
</html>
