<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head_bootstrap">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: header">

</header>

<div class="container">
    <h1>Items Management</h1>

    <a href="/manage/addItem" class="btn btn-primary">Add Item</a>
    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="item : ${items}">
            <th scope="row" th:text="${item.getIdItemsParts()}"></th>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getStock()}"></td>
            <td>

                <!--
                <a th:href="@{/manage/updateItem}" class="btn btn-primary"><i class="bi bi-pencil-square">update</i></a>
                -->
                <form action="/manage/updateItem" method="POST">
                    <input type="hidden" id="idItemsParts" name="idItemsParts" th:value="${item.getIdItemsParts()}">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square">update</i></button>
                </form>
                <button type="button" class="btn btn-danger"><i class="bi bi-x-square">delete</i></button>
            </td>

            </tr>
        </th:block>


        </tbody>
    </table>



</div>


<div th:replace="template :: footer">
</div>
</body>
</html>