<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head_bootstrap">
    <title>Sign Up Form</title>
    <meta charset="utf-8">
</head>
<body>
<header  th:replace="template :: header">

</header>


<div class="container">
    <br>
    <h2>Sign Up</h2>
    <form action="/security/doSignup" METHOD="POST">
        <h3>Personal Details</h3>
        <div class="mb-6">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName">
        </div>
        <div class="mb-6">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName">
        </div>
        <div class="mb-6">
            <label for="mobileNumber">Phone:</label>
            <input type="text" class="form-control" id="mobileNumber" placeholder="Enter Phone" name="mobileNumber">
        </div>
        <div class="mb-6">
            <label for="email">email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
        </div>

        <div class="mb-6">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
        </div>
        <div class="mb-6">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
        </div>
        <div class="mb-6">
            <label for="license">License:</label>
            <input type="text" class="form-control" id="license" placeholder="Enter License" name="license">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div th:replace="template :: footer">

</div>

</body>
</html>
