<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tabla de clientes</h1>
<table>
    <tr>
        <th>id</th>
        <th>first</th>
        <th>last</th>
        <th>mobile</th>
        <th>email</th>
        <th>password</th>
        <th>licence</th>
        <th>Profile</th>
    </tr>
<th:block th:each="client : ${clients}">
    <tr>
        <td th:text="${client.getIdClients()}" ></td>
        <td th:text="${client.getFirstName()}" ></td>
        <td th:text="${client.getLastName()}" ></td>
        <td th:text="${client.getMobileNumber()}" ></td>
        <td th:text="${client.getEmail()}" ></td>
        <td th:text="${client.getPassword()}" ></td>
        <td th:text="${client.getLicense()}" ></td>
        <td th:text="${client.getProfile()}" ></td>
    </tr>
</th:block>

    <th:block th:each="vehicle : ${vehicles}">

        <p th:text="${vehicle.getRegistrationNumber()}"></p>
        <p th:text="${vehicle.getEngineTypeIdEngineType()}"></p>
        <p th:text="${vehicle.getMakeIdMake()}"></p>
        <p th:text="${vehicle.getModel()}"></p>
        <p th:text="${vehicle.getYear()}"></p>
    </th:block>

    <h3>client vehicles</h3>
    <th:block th:each="vehicle : ${client2Vehicles}">

        <p th:text="${vehicle }"></p>

    </th:block>
</table>
</body>
</html>